html, body {
  margin: 0;
  height: 100%;
}

#map {
  position: fixed;
  inset: 0;
}

#story {
  position: relative;
  z-index: 2;
  width: 35%;
  margin-left: 60%;
  padding: 16px;
}

section {
  background: rgba(255,255,255,0.95);
  padding: 12px;
  margin-bottom: 60vh;
  border-radius: 8px;
}
